@tailwind base;
@tailwind components;
@tailwind utilities;

.editor_content{
  flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 1rem 1rem;
  outline: none;
  -webkit-overflow-scrolling: touch;
}

.ProseMirror:focus{
  border: 0 !important;
  outline: none !important;
}

.line-clamp-6 > h1 {
  margin-bottom: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.line-clamp-6 > p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}